@import "tailwindcss";
/* Base sobria tipo “enterprise” */
:root {
  color-scheme: light;
}

@font-face {
  font-family: "fuenteVW";
  src: url("/public/fonts/VWText-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fuenteVW_Header";
  src: url("/public/fonts/VWHead-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  font-family: "fuenteVW";
}

body {
  @apply bg-slate-50 text-slate-900;
}
